# Bytecode / Caches
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.pytest_cache/

# Envs
env/
venv/
ENV/
.venv/

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Secrets/Configs
.env
.env.local
.env.*.local

# Flask/Instance
instance/
*.db
*.sqlite
*.sqlite3

# Node (falls vorhanden)
node_modules/

# Backups/Artefakte
backups/
dist/
build/
