version: "3.8"
services:
  app:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/workspace:cached
      - ./instance:/workspace/instance:rw
    working_dir: /workspace
    env_file:
      - .env
    environment:
      # Optional overrides or debug flags (keine Secrets hier)
      FLASK_DEBUG: "1"
      FLASK_APP: "app" # oder "app.py"
      PYTHONUNBUFFERED: "1"
      # Optional dev flags
      TELEGRAM_USE_POLLING: "0" # 0=use webhook, 1=polling (dev)
    dns:
      - 8.8.8.8
      - 8.8.4.4
    restart: unless-stopped
    command: flask run --host=0.0.0.0 --port=5000
